body, div{
    background: darkgrey;
    margin: 0;
    padding: 0;
    border: 0;
}

#tilesContainer {
    width: max-content;
    margin: 48px auto;
    display: grid;
    grid-template-columns: repeat(4, 100px); 
    gap: 16px;
}

.tiles {
    height: 100px;
    background-color: black;
    display: inline-block;
}

.colorChange {
    background-color: gray;
}